* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  border: none;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 0;
  background: #F2F3F5;
}

@media screen and (max-width: 720px) {
  body {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 720px) {
  .hide-md {
    display: none !important;
  }
}

.horizontal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header img {
  margin-right: 1rem;
  transform: rotate(180deg);
  height: 24px;
}

@media screen and (max-width: 720px) {
  .header img {
    height: 16px;
  }
}

h1 {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 20px;
  }
}

.highlight-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 0.8rem 1rem;
  background-color: #6548A4;
  border-radius: 5px;
  align-self: stretch;
  cursor: pointer;
}

.text-input {
  width: 100%;
  padding: 1.2rem;
  background: #FFFFFF;
  color: #000000;
  flex: 1;
  box-sizing: border-box;
  border-radius: 5px;
}

.text-input.margin-right {
  margin-right: 1.5rem;
}

label {
  font-size: 0.875rem;
  color: #666666; 
  margin-bottom: 0.5rem;
}

.text-input::placeholder {
  color: #666;
}